[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
django-taggit = "==1.2.0"
django-taggit-serializer = "*"
python-dotenv = "*"
django-sendgrid-v5 = "*"

[dev-packages]

[requires]
python_version = "3.7"
